* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: chocolate;
    --border-radius: 23px;
    --base-lang: 'poppins';
}

body {
    background-image: linear-gradient(rgba(128, 128, 128, 0.303)), url(items/weather_bg.jpg);
    background-position: top;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: var(--base-lang);
}

#error {
    justify-self: center;
}

.arrow {
    display: flex;
}

#back_arrow {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: none;
    position: absolute;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 3px 0px 0px rgba(20, 20, 20, 0.698);
    background-color: var(--main-color);
    border: 0.1px solid black;

    img {
        max-width: 100%;
    }
}

#back_arrow:hover {
    box-shadow: 0px 1.5px 0px 0px rgba(23, 23, 23, 0.653);
    transform: translateY(2px);
}

#wrapper {
    padding: 1em;
    background-position: top;
    background-size: cover;
    transition: all 0.3s ease-in-out;
    width: 100vw;
    height: 100%;
    display: grid;
    align-content: center;
    grid-auto-rows: max-content;
    gap: 2em;
    

    h2 {
        font-weight: 700;
        font-family: serif;
        font-style: italic;
        justify-self: center;
    }
    
}

form {
    justify-self: center;
    border: 1px solid rgb(0, 0, 0);
    padding: 0.5em 0.5em;
    border-radius: 30px;
    background-color: rgba(240, 248, 255, 0.216);
    backdrop-filter: blur(50px);
    box-shadow: inset 1px 1px 20px 1px rgba(207, 207, 207, 0.846);
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 1em;
    
    #search_city {
        width: 40vw;
        height: 8vh;
        padding: 0 1em;
        outline: none;
        border: none;
        border-radius: 12px;
        background: transparent;
        color: rgb(0, 0, 0);
        font-weight: 600;
    }
    
    #search_btn {
        background-color: var(--main-color);
        border: 1px solid black;
        box-shadow: 0px 3px 0px 0px rgb(20, 20, 20, 0.698);
        width: 15vw;
        height: 8vh;
        font-weight: 600;
        border-radius: 20px;
        transition: 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
           box-shadow: 0px 1.5px 0px 0px rgb(23, 23, 23, 0.653);
           transform: translateY(3px);
        }
    }
}

#results {
    animation: slideup 200ms ease-in;
    display: none;
    grid-template-columns: 35% 20% 15%;
    grid-template-rows: 60% 40%;
    gap: 0.4em;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    top: 2%;

    #current_results {
        grid-row: 1/3;
        border: 1px solid black;
        display: flex;
        padding: 0.4em;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 215, 82);
        backdrop-filter: blur(50px);
        border-radius: var(--border-radius);
        
        #time {
            font-size: 0.8rem;
            font-weight: 700;
            color: black;
        }
        
        .weather_icon {
            max-width: 100%;
            width: 60px;
            height: 60px;
        }
        
        
        #weather_details {
            display: flex;
            height: fit-content;
        }
        
        .state {
            font-size: 0.6rem;
            font-weight: 600;
        }
        
        #today_results {
            padding: 0.5em;
            display: grid;
            align-content: center;
            grid-auto-rows: max-content;

            #city {
                font-size: 1.2rem;
                font-weight: 800;
                color: black;
            }

            #country {
                font-size: 0.7rem;
            }
            
            #today_degrees {
                height: fit-content;
                font-size: 2.9rem;
            }
        }
        
        
    }

    #city_images {
        border-radius: var(--border-radius);
        border: 1px solid black;
        overflow: hidden;
        grid-row: 1 / 3;
        width: 100%;
        height: 100%;

        #image {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    #following_days_results {
        grid-column: -2/-1;
        justify-self: left;
        border: 1px solid black;
        display: flex;
        justify-content: space-evenly;
        width: fit-content;
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        border-radius: var(--border-radius);
        gap: 1em;
        padding: 1em;

        .daysWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: black;
            padding: 0.5em 0;
            width: 100%;
            height: 100%;

            h4 {
                font-size: 0.6rem;
            }

            img {
                width: 25px;
                height: 25px;
            }

            h2 {
                font-style: normal;
                font-size: 0.8rem;
                font-family: var(--base-lang);
            }
        }
    }
    
    #extra_results {
        backdrop-filter: blur(20px);
        border: 1px solid black;
        background-color: #020202ee;
        backdrop-filter: blur(20px);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        grid-auto-rows: max-content;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius);
        
        
        p {
            text-align: center;
            font-size: 0.5rem;
            font-weight: 600;
            color: #ffffff;
        }

        #sunset_icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 60%;

            img {
                height: 100%;
                max-width: 100%;
            }
        }
    }
}

#inner-wrapper {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading_state {
    justify-self: center;
    position: relative;
    display: none;
    gap: 1em;
    
    .circle {
        width: 15px;
        height: 15px;
        border-radius: 20px;
        transform: translateY(-3px);
        animation: loading 500ms infinite;
    }
    
    .c1 {
        background-color: #48c6ec;
    }
    .c2 {
        background-color: #ffac2e;
        animation-delay: -0.1s;
    }
    .c3 {
        background-color: #84a83f;
        animation-delay: -0.3s;
    }
    .c4 {
        background-color: #ffffff;
        animation-delay: -0.2s;
    }
    .c5 {
        background-color: #48ec7c;
        animation-delay: -0.4s;
    }
}

/* background change */

.sunny {
    background-image: linear-gradient(rgba(255, 255, 255, 0.18)), url(items/Adobe\ Express\ -\ sun.gif);
}
.rain {
    background-image: linear-gradient(rgba(255, 255, 255, 0.18)), url(items/Adobe\ Express\ -\ rain.gif);
}
.cloudy {
    background-image: linear-gradient(rgba(255, 255, 255, 0.18)), url(items/Adobe\ Express\ -\ cloudy.gif);
}
.snow {
    background-image: linear-gradient(rgba(255, 255, 255, 0.18)), url(items/Adobe\ Express\ -\ sun.gif);
}
.fog {
    background-image: linear-gradient(rgba(255, 255, 255, 0.18)), url(items/fog.gif);
}
.clear_night {
    background-image: linear-gradient(rgba(255, 255, 255, 0.18)), url(items/clear_night.gif);
}
.thunder {
    background-image: linear-gradient(rgba(255, 255, 255, 0.18)), url(items/thunder.gif);
}

@keyframes loading {
    0% {
        transform: translateY(-3px);
    }50% {
        transform: translateY(-10px);  
    }
    100% {
        transform: translateY(-3px);
    }
}

@keyframes slideup {
    0% {
        top: 6%;
    }
    100% {
        top: 2%;
    }
}


@media (max-width: 480px){
    #results {
        gap: 0.3em;
        width: 100%;
        height: 25vh;
        grid-template-columns: 45% 31% 24%;

        #current_results {
            padding: 0;
            width: 100%;

            .weather_icon {
                max-width: 100%;
                width: 40px;
                height: 40px;
            }

            #today_results {
             overflow: hidden;
             grid-auto-rows: auto;
             gap: 0.4em;

                #city {
                    font-size: 1rem;
                }

                #country {
                    font-size: 0.5rem;
                }

                #weather_details {
    
                    #today_degrees {
                        font-size: 1.9rem; 
                        font-weight: 700;   
                    }
                }
            }
        }

        #extra_results {
            padding: 0.2em;
            align-items: center;
            justify-content: center;
            width: 100%;
            
            #sunset_icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 55%;

                img {
                    height: 100%;
                    max-width: 100%;
                }
            }

            .sunset_time {
                margin-top: 0.3rem;
                font-size: 0.5rem; 
            }
        }

        #following_days_results {
            padding: 0;
            gap: 0;
        
            .daysWrapper {
                gap: 0.3em;

                img {
                    display: none;
                }
            }
        }
    }

}
